.button1 {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04aa6d;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-left: 500px;
  margin-top: 80px;
}

.button:hover {
  background-color: #3e8e41;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* searchbar */
* {
  box-sizing: border-box;
}

form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 50%;
  background: #f1f1f1;
  margin-left: 200px;
  margin-top: 150px;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #3e8e41;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  margin-top: 150px;
}

form.example button:hover {
  background: #3e8e41;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
